<%-include('header.ejs')%>
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Best Photographers</h2>
          <ol>
            <li><a href="/index.html">Home</a></li>
            <li>Best Photographers</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Best</h2>
          <p>Top 4</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/img/uploadImages/<%= data[0].profile_image %>" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4><%= data[0].user_name %></h4>
                <span><%= data[0].user_intro %></span>
                <p><%= data[0].user_email %></p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/img/uploadImages/<%= data[1].profile_image %>" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4><%= data[1].user_name %></h4>
                <span><%= data[1].user_intro %></span>
                <p><%= data[1].user_email %></p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/assets/img/team/<%= data[2].profile_image %>" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4><%= data[2].user_name %></h4>
                <span><%= data[2].user_intro %></span>
                <p><%= data[2].user_email %></p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="/assets/img/team/<%= data[3].profile_image %>" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4><%= data[3].user_name %></h4>
                <span><%= data[3].user_intro %></span>
                <p><%= data[3].user_email %></p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



      <section id="features" class="features">
          <div class="container">
              <div class="section-title">
                  <h2>Another</h2>
                  <p>Another Photographers</p>
              </div>

              <div class="row">
                  <div class="col-lg-3">
                      <ul class="nav nav-tabs flex-column">
                          <li class="nav-item">
                              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Most Popular</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Most Kindness</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Most Handsome</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Most Viewed</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Most Pretty</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-9 mt-4 mt-lg-0">
                      <div class="tab-content">
                          <div class="tab-pane active show" id="tab-1">
                              <div class="row">
                                  <div class="col-lg-8 details order-2 order-lg-1">
                                      <h3>Kim Bum ki</h3>
                                      <p class="fst-italic">Animal Photographers.</p>
                                      <p>bamki is the best photographer!!!!</p>
                                  </div>
                                  <div class="col-lg-4 text-center order-1 order-lg-2">
                                      <img src="/assets/img/team/team-3.jpg" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane" id="tab-2">
                              <div class="row">
                                  <div class="col-lg-8 details order-2 order-lg-1">
                                      <h3>Kim Bum ki</h3>
                                      <p class="fst-italic">Animal Photographers.</p>
                                      <p>bamki is the best photographer!!!!</p>
                                  </div>
                                  <div class="col-lg-4 text-center order-1 order-lg-2">
                                      <img src="/assets/img/team/team-3.jpg" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane" id="tab-3">
                              <div class="row">
                                  <div class="col-lg-8 details order-2 order-lg-1">
                                      <h3>Kim Bum ki</h3>
                                      <p class="fst-italic">Animal Photographers.</p>
                                      <p>bamki is the best photographer!!!!</p>
                                  </div>
                                  <div class="col-lg-4 text-center order-1 order-lg-2">
                                      <img src="/assets/img/team/team-3.jpg" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane" id="tab-4">
                              <div class="row">
                                  <div class="col-lg-8 details order-2 order-lg-1">
                                      <h3>Kim Bum ki</h3>
                                      <p class="fst-italic">Animal Photographers.</p>
                                      <p>bamki is the best photographer!!!!</p>
                                  </div>
                                  <div class="col-lg-4 text-center order-1 order-lg-2">
                                      <img src="/assets/img/team/team-3.jpg" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane" id="tab-5">
                              <div class="row">
                                  <div class="col-lg-8 details order-2 order-lg-1">
                                      <h3>Kim Bum ki</h3>
                                      <p class="fst-italic">Animal Photographers.</p>
                                      <p>bamki is the best photographer!!!!</p>
                                  </div>
                                  <div class="col-lg-4 text-center order-1 order-lg-2">
                                      <img src="/assets/img/team/team-3.jpg" alt="" class="img-fluid">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </section><!-- End Features Section -->

  </main><!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>